<?xml version="1.0" encoding="UTF-8"?>
<testsuites>
  <testsuite name="" tests="15" assertions="25" errors="0" warnings="0" failures="0" skipped="0" time="0.002548">
    <testsuite name="default" tests="15" assertions="25" errors="0" warnings="0" failures="0" skipped="0" time="0.002548">
      <testsuite name="WimUlkeman\Tests\JsonParser\Token\Literal\NullLiteralTokenTest" file="/Users/wimulkeman/projects/json-parser/tests/WimUlkeman/Tests/JsonParser/Token/Literal/NullLiteralTokenTest.php" tests="3" assertions="3" errors="0" warnings="0" failures="0" skipped="0" time="0.001381">
        <testcase name="testItReturnsNullForNonSupportedStrings" class="WimUlkeman\Tests\JsonParser\Token\Literal\NullLiteralTokenTest" classname="WimUlkeman.Tests.JsonParser.Token.Literal.NullLiteralTokenTest" file="/Users/wimulkeman/projects/json-parser/tests/WimUlkeman/Tests/JsonParser/Token/Literal/NullLiteralTokenTest.php" line="27" assertions="1" time="0.001179"/>
        <testcase name="testItParsesTheLexeme" class="WimUlkeman\Tests\JsonParser\Token\Literal\NullLiteralTokenTest" classname="WimUlkeman.Tests.JsonParser.Token.Literal.NullLiteralTokenTest" file="/Users/wimulkeman/projects/json-parser/tests/WimUlkeman/Tests/JsonParser/Token/Literal/NullLiteralTokenTest.php" line="17" assertions="1" time="0.000156"/>
        <testcase name="testItImplementsTheScannableInterface" class="WimUlkeman\Tests\JsonParser\Token\Literal\NullLiteralTokenTest" classname="WimUlkeman.Tests.JsonParser.Token.Literal.NullLiteralTokenTest" file="/Users/wimulkeman/projects/json-parser/tests/WimUlkeman/Tests/JsonParser/Token/Literal/NullLiteralTokenTest.php" line="35" assertions="1" time="0.000047"/>
      </testsuite>
      <testsuite name="WimUlkeman\Tests\JsonParser\Lexer\LiteralLexerTest" file="/Users/wimulkeman/projects/json-parser/tests/WimUlkeman/Tests/JsonParser/Lexer/LiteralLexerTest.php" tests="1" assertions="4" errors="0" warnings="0" failures="0" skipped="0" time="0.000206">
        <testcase name="testItScansTheDifferentTypesOfLanguageLiterals" class="WimUlkeman\Tests\JsonParser\Lexer\LiteralLexerTest" classname="WimUlkeman.Tests.JsonParser.Lexer.LiteralLexerTest" file="/Users/wimulkeman/projects/json-parser/tests/WimUlkeman/Tests/JsonParser/Lexer/LiteralLexerTest.php" line="14" assertions="4" time="0.000206"/>
      </testsuite>
      <testsuite name="WimUlkeman\Tests\JsonParser\ScannerTest" file="/Users/wimulkeman/projects/json-parser/tests/WimUlkeman/Tests/JsonParser/ScannerTest.php" tests="2" assertions="9" errors="0" warnings="0" failures="0" skipped="0" time="0.000433">
        <testcase name="testItScansAndReturnsTheDifferentLanguageConstructsInSequenceOfEncountered" class="WimUlkeman\Tests\JsonParser\ScannerTest" classname="WimUlkeman.Tests.JsonParser.ScannerTest" file="/Users/wimulkeman/projects/json-parser/tests/WimUlkeman/Tests/JsonParser/ScannerTest.php" line="15" assertions="5" time="0.000341"/>
        <testcase name="testScanWithWhitespacesReturnedThroughSettingOptions" class="WimUlkeman\Tests\JsonParser\ScannerTest" classname="WimUlkeman.Tests.JsonParser.ScannerTest" file="/Users/wimulkeman/projects/json-parser/tests/WimUlkeman/Tests/JsonParser/ScannerTest.php" line="39" assertions="4" time="0.000093"/>
      </testsuite>
      <testsuite name="WimUlkeman\Tests\JsonParser\Token\Literal\FalseLiteralTokenTest" file="/Users/wimulkeman/projects/json-parser/tests/WimUlkeman/Tests/JsonParser/Token/Literal/FalseLiteralTokenTest.php" tests="3" assertions="3" errors="0" warnings="0" failures="0" skipped="0" time="0.000177">
        <testcase name="testItParsesTheLexeme" class="WimUlkeman\Tests\JsonParser\Token\Literal\FalseLiteralTokenTest" classname="WimUlkeman.Tests.JsonParser.Token.Literal.FalseLiteralTokenTest" file="/Users/wimulkeman/projects/json-parser/tests/WimUlkeman/Tests/JsonParser/Token/Literal/FalseLiteralTokenTest.php" line="17" assertions="1" time="0.000075"/>
        <testcase name="testItReturnsNullForNonSupportedStrings" class="WimUlkeman\Tests\JsonParser\Token\Literal\FalseLiteralTokenTest" classname="WimUlkeman.Tests.JsonParser.Token.Literal.FalseLiteralTokenTest" file="/Users/wimulkeman/projects/json-parser/tests/WimUlkeman/Tests/JsonParser/Token/Literal/FalseLiteralTokenTest.php" line="27" assertions="1" time="0.000055"/>
        <testcase name="testItImplementsTheScannableInterface" class="WimUlkeman\Tests\JsonParser\Token\Literal\FalseLiteralTokenTest" classname="WimUlkeman.Tests.JsonParser.Token.Literal.FalseLiteralTokenTest" file="/Users/wimulkeman/projects/json-parser/tests/WimUlkeman/Tests/JsonParser/Token/Literal/FalseLiteralTokenTest.php" line="35" assertions="1" time="0.000047"/>
      </testsuite>
      <testsuite name="WimUlkeman\Tests\JsonParser\Token\Literal\TrueLiteralTokenTest" file="/Users/wimulkeman/projects/json-parser/tests/WimUlkeman/Tests/JsonParser/Token/Literal/TrueLiteralTokenTest.php" tests="3" assertions="3" errors="0" warnings="0" failures="0" skipped="0" time="0.000190">
        <testcase name="testItParsesTheLexeme" class="WimUlkeman\Tests\JsonParser\Token\Literal\TrueLiteralTokenTest" classname="WimUlkeman.Tests.JsonParser.Token.Literal.TrueLiteralTokenTest" file="/Users/wimulkeman/projects/json-parser/tests/WimUlkeman/Tests/JsonParser/Token/Literal/TrueLiteralTokenTest.php" line="17" assertions="1" time="0.000068"/>
        <testcase name="testItReturnsNullForNonSupportedStrings" class="WimUlkeman\Tests\JsonParser\Token\Literal\TrueLiteralTokenTest" classname="WimUlkeman.Tests.JsonParser.Token.Literal.TrueLiteralTokenTest" file="/Users/wimulkeman/projects/json-parser/tests/WimUlkeman/Tests/JsonParser/Token/Literal/TrueLiteralTokenTest.php" line="27" assertions="1" time="0.000076"/>
        <testcase name="testItImplementsTheScannableInterface" class="WimUlkeman\Tests\JsonParser\Token\Literal\TrueLiteralTokenTest" classname="WimUlkeman.Tests.JsonParser.Token.Literal.TrueLiteralTokenTest" file="/Users/wimulkeman/projects/json-parser/tests/WimUlkeman/Tests/JsonParser/Token/Literal/TrueLiteralTokenTest.php" line="35" assertions="1" time="0.000046"/>
      </testsuite>
      <testsuite name="Wimulkeman\Tests\JsonParser\Token\Whitespace\EndOfStreamWhitespaceTokenTest" file="/Users/wimulkeman/projects/json-parser/tests/WimUlkeman/Tests/JsonParser/Token/Whitespace/EndOfStreamWhitespaceTokenTest.php" tests="3" assertions="3" errors="0" warnings="0" failures="0" skipped="0" time="0.000160">
        <testcase name="testItParsesTheLexeme" class="Wimulkeman\Tests\JsonParser\Token\Whitespace\EndOfStreamWhitespaceTokenTest" classname="Wimulkeman.Tests.JsonParser.Token.Whitespace.EndOfStreamWhitespaceTokenTest" file="/Users/wimulkeman/projects/json-parser/tests/WimUlkeman/Tests/JsonParser/Token/Whitespace/EndOfStreamWhitespaceTokenTest.php" line="17" assertions="1" time="0.000069"/>
        <testcase name="testItReturnsNullForNonSupportedStrings" class="Wimulkeman\Tests\JsonParser\Token\Whitespace\EndOfStreamWhitespaceTokenTest" classname="Wimulkeman.Tests.JsonParser.Token.Whitespace.EndOfStreamWhitespaceTokenTest" file="/Users/wimulkeman/projects/json-parser/tests/WimUlkeman/Tests/JsonParser/Token/Whitespace/EndOfStreamWhitespaceTokenTest.php" line="27" assertions="1" time="0.000050"/>
        <testcase name="testItImplementsTheScannableInterface" class="Wimulkeman\Tests\JsonParser\Token\Whitespace\EndOfStreamWhitespaceTokenTest" classname="Wimulkeman.Tests.JsonParser.Token.Whitespace.EndOfStreamWhitespaceTokenTest" file="/Users/wimulkeman/projects/json-parser/tests/WimUlkeman/Tests/JsonParser/Token/Whitespace/EndOfStreamWhitespaceTokenTest.php" line="35" assertions="1" time="0.000041"/>
      </testsuite>
    </testsuite>
  </testsuite>
</testsuites>
